*{
    padding: 0;
    margin: 0;
    border: 0;
}
.at-area{
    width: 100%;
    height: 300px;
    background-color:beige;
    position: absolute;
    bottom: 0;
}
.tips{
    width:50px;
    height: 150px;
    /* background-color:lightcoral; */
    position: absolute;
    top:10%;
}
.tips_row_1, .tips_row_2{
    width: 50px;
    height: 50px;
}
.content-1{
    z-index: -1;
    width: 200px;
    height: 50px;
    background-color:lightgreen;
    position: relative;
    left: -150px;
    transition: 0.3s;
}
.content-2{
    z-index: -1;
    width: 200px;
    height: 50px;
    background-color:lightgreen;
    position: relative;
    left: -150px;
    transition: 0.3s;
}
.content-3{
    z-index: -1;
    width: 200px;
    height: 50px;
    background-color:lightgreen;
    position: absolute;
    left: -150px;
    transition: 0.5s;
}

#row_1:hover .content-1,#row_2:hover .content-2{
    left: 50px;
    /* transition: 0.6s; */
}

.btn-area{
    /* width: 80%; */
    height: 20%;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn{
    flex: 1;
    height: 60px;
    line-height: 60px;
    border-right:1px solid black ;
}
.btn_ctx{
    width: 100%;
    height: 80%;
}