*{
    padding: 0;
    margin: 0;
    border: 0;
}
.at-area{
    width: 100%;
    height: 300px;
    background-color:beige;
    position: absolute;
    bottom: 0;
}
.tips{
    width:50px;
    height: 100px;
    background-color:lightcoral;
    position: absolute;
    top:10%;
}
.icon-1{
    width: 50px;
    height: 50px;
    background-color:brown;
    position: absolute;
}
.icon-2{
    width: 50px;
    height: 50px;
    background-color:cadetblue;
    position: absolute;
    top: 50%;
}
.content-1{
    z-index: -1;
    width: 200px;
    height: 50px;
    background-color:lightgreen;
    position: absolute;
    left: -150px;
    transition: 0.5s;
}
.content-2{
    z-index: -1;
    width: 200px;
    height: 50px;
    background-color:lightgreen;
    position: absolute;
    top: 50%;
    left: -150px;
    transition: 0.5s;
}
.icon-1:hover .content-1{
    left: 50px;
    /* transition: 0.6s; */
}

.btn-area{
    /* width: 80%; */
    height: 20%;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    text-align: center;
}
.btn{
    flex: 1;
    border-right:1px solid black ;
}